services:
  client:
    image: huyhieu9301/complex-client
  api:
    image: huyhieu9301/complex-server
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - PGUSER=postgres
      - PGHOST=postgres
      - PGDATABASE=postgres
      - PGPASSWORD=postgres_password
      - PGPORT=5432
    depends_on:
      - postgres
  worker:
    image: huyhieu9301/complex-worker
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
  nginx:
    image: huyhieu9301/complex-nginx
    ports:
      - '80:80'
    depends_on:
      - client
      - api
  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_PASSWORD=postgres_password
  redis:
    image: redis:latest
